<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<settings>
    <category label="30001">
            <!-- range="1024,1,65535" means: minimum 1024, each step is 1 (with keyboard/remote), maximum 65535 -->
            <setting id="user_defined_port" type="number" label="30002" default="-1"  option="int" />
    </category>
</settings>